.h4
{
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
}

span
{
    color: #66c7ff;
    display: inline-block;
    font-family: "Google Sans", roboto, arial, helvetica;
}

.about-text p
{
    letter-spacing: 0.6px;
    font-size: 15px;
    display: inline-block;
}

.separator-line 
{
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 30px 0;
}

.article-content
{
    display: flex;
    margin: 15px 0px;
}

.content-txt
{
    margin-right: 25px;
}

.content-img img
{
    width: 100%;
    border-radius: 10px;
}

.article-slider
{
    margin-top: 20px;
}

.slider-img
{
    text-align: center !important;
    margin: 0px 10px;
}

.slider-img img
{
    width: 100%;
    border-radius: 10px;
} 

.blog-line
{
    border: 0.5px solid #343434;
    margin-top: 50px;
    margin-bottom: 20px;
}

.blog-footer
{
    margin-bottom: -50px;
}

.blog-writer-name
{
    text-align: right;
}

.blog-writer-name h4
{
    font-size: 16px;
}

.blog-publish-date p
{
    color: #9c9b9b;
    font-size: 12px;
}

.title
{
    text-align: center;
    margin: 0px 10px;
}

.important-content
{
    /* border: 2px solid red; */

    /* border: 1.5px solid transparent; 
    border-image: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%); 
    border-image-slice: 1;  */
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(#1e1e1e, #1e1e1e), radial-gradient(circle at top left, #D2A8FF,#F778BA, #FF7B72);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin: 15px 0px;
}

.imp-cnt-head h4
{
    width: 200px;
    margin: 0px 10px;
    font-size: 17px;
    background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
}

.imp-cnt-txt p
{
    margin-top: 10px;
    margin-bottom: 0px;
}

.imp-cnt-icon i
{
    color: #ffdb70;
}

.blog-footer
{
    display: flex;
    justify-content: space-between;
}

.back-btn
{
    margin-left: 10px;
    margin-top: 10px;
}

.back-btn a
{
    color: #b5b5b5;
}

.back-btn a:hover
{
    color: #fff;
}

.back-btn a:hover i
{
    color: #fff;
    transform: translateX(-4px);
    transition: transform 0.5s ease;
}

@media (max-width: 1025px) {
    .article-content
    {
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0px;
    }

    .content-img img
    {
        margin: 20px 0px;
        border-radius: 10px;
    }
}

@media (max-width: 580px) {
    .blog-footer
    {
        margin-bottom: 0px;
        text-align: right;
    }
}




























































