.h4 {
    color: #ffdb70;
    background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    margin-bottom: 10px;
}

span {
    color: #66c7ff;
    display: inline-block;
    font-family: "Google Sans", roboto, arial, helvetica;
}

p {
    letter-spacing: 0.6px;
    font-size: 15px;
}

img {
    width: 100%;
}