.h4
{
    background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    margin-top: 20px;
    margin-bottom: 10px;
}

span
{
    color: #66c7ff;
    display: inline-block;
    font-family: "Google Sans", roboto, arial, helvetica;
}

p
{
    letter-spacing: 0.6px;
    font-size: 15px;
    display: inline-block;
}

.article-content
{
    display: flex;
    margin: 15px 0px;
}

.content-txt
{
    margin-right: 25px;
}

.content-img img
{
    width: 100%;
    border-radius: 10px;
}

.article-slider
{
    margin-top: 20px;
}

.slider-img
{
    text-align: center !important;
    margin: 0px 10px;
}

.slider-img img
{
    width: 100%;
    border-radius: 10px;
} 

@media (max-width: 1025px) {
    .article-content
    {
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0px;
    }

    .content-img img
    {
        margin: 20px 0px;
        border-radius: 10px;
    }
}






























































