
@media screen and (min-width:1241px) and (max-width:1500px)
{
    .about-grid-content{max-width: 1200px;}
}

/* ********************************************************************************************************* */

@media screen and (min-width:1025px) and (max-width:1240px)
{
    .header-stream h1{font-size: 40px;}
    .grid-links-head li h2{display: none;}
    .grid-links-part ul{width: 100%; height: 100%; display: flex;flex-direction: unset; gap: 15px;}
    .grid-links-part ul .grid-link-desktop{display: none;}
    .grid-link-mobile{display: block;}
    .grid-links-part li{margin-top: 0px;padding: 20px;}
    .grid-link-devide{width: 100%;display: flex;align-items: center;justify-content: space-between;gap: 15px;}
    .about-grid{width: 100%;height: 2260px;}
    .grid-container{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "grid-about grid-about grid-profile"
            "grid-linkedin grid-experience grid-experience"
            "grid-project grid-project grid-project"
            "grid-skill grid-skill grid-stack"
            "grid-email grid-email grid-email"
            "grid-links grid-links grid-links"; }
    .grid-cnt{height: 300px;}
    .grid-project{height: 100%;}
    .about-grid-content{max-width: 900px;}

/* ============================================== */

    .aboutus-grid-content{max-width: 900px;height: 1180px;}
    .about-container 
    {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            " about-profile about-email"
            "about-about about-about"
            "about-about about-about";
    }
    .about-cnt{height: 300px;}
    .about-about{height: 780px;}
    .about-profile{width: 300px;height: 300px;}
    .about-email{width: 600px; height: 100%;}

/* ============================================== */

    .contact .container{max-width: 80%;}
    .contact-dots{width: 43%;}

/* ============================================== */

    .project .container{max-width: 85%;}
    .project-card a{padding: 15px;}
    .project-txt-icon img{width: 40px;}
    .coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 38%;}






}

/* ********************************************************************************************************* */

@media screen and (min-width:992px) and (max-width:1024px)
{
    .header-stream h1{font-size: 38px;}
    .grid-links-head li h2{display: none;}
    .grid-links-part ul{width: 100%; height: 100%; display: flex;flex-direction: unset; gap: 15px;}
    .grid-links-part ul .grid-link-desktop{display: none;}
    .grid-link-mobile{display: block;}
    .grid-links-part li{margin-top: 0px;padding: 20px;}
    .grid-link-devide{width: 100%;display: flex;align-items: center;justify-content: space-between;gap: 15px;}
    .about-grid{width: 100%;height: 2260px;}
    .grid-container{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "grid-about grid-about grid-profile"
            "grid-linkedin grid-experience grid-experience"
            "grid-project grid-project grid-project"
            "grid-skill grid-skill grid-stack"
            "grid-email grid-email grid-email"
            "grid-links grid-links grid-links"; }
    .grid-cnt{height: 300px;}
    .grid-project{height: 100%;}
    .about-grid-content{max-width: 900px;}

/* ============================================== */

    .aboutus-grid-content{max-width: 700px;height: 1200px;}
    .about-container 
    {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            " about-profile about-email"
            "about-about about-about"
            "about-about about-about";
    }
    .about-cnt{height: 300px;}
    .about-about{height: 850px;}
    .about-profile{width: 250px;height: 250px;}
    .about-email{width: 450px; height: 100%;}

/* ============================================== */

    .contact .container{max-width: 80%;}
    .contact-dots{width: 43%;}

/* ============================================== */

    .project .container{max-width: 85%;}
    .project-card a{padding: 15px;}
    .project-txt-icon img{width: 40px;}
    .coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 38%;}






}

/* ********************************************************************************************************* */

@media screen and (min-width:768px) and (max-width:991px)
{
    .header-stream h1{font-size: 30px;}
    .header-slogan h6{font-size: 16px;}
    .header-active p{font-size: 15px;}
    .header-active{width: 170px;}
    .header-chat-content a{font-size: 15px;}
    .about-grid-content{padding: 70px 0px;}
    .grid-slider-software, .grid-slider-technology{display: flex;align-items: center;justify-content: space-between;gap: 10px;}
    .grid-slider-marquee{width: 85%;}
    .footer-head h1{font-size: 65px;}
    .footer{padding: 60px 0px;padding-bottom: 20px;}
    /* .footer-contact-btn a{font-size: 15px; padding: 12px 28px;} */
    .copy-input{width: 260px; font-size: 16px;}
    .footer-contact-reply p{font-size: 13px;}
    .grid-links-head li h2{display: none;}
    .grid-links-part ul{width: 100%; height: 100%; display: flex;flex-wrap: wrap;flex-direction: row;gap: 15px;}
    .grid-links-part ul .grid-link-desktop{display: none;}
    .grid-link-mobile{display: block;}
    .grid-links-part li{margin-top: 0px;padding: 20px;}
    .grid-link-devide{width: 100%;display: flex;align-items: center;justify-content: space-between;gap: 15px;}
    .about-grid{width: 100%;height: 3000px;padding: 0; padding-top: 40px;}
    .grid-container{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "grid-about grid-about"
            "grid-profile grid-linkedin"
            "grid-project grid-project"
            "grid-experience grid-experience"
            "grid-skill grid-skill"
            "grid-stack grid-stack"
            "grid-email grid-email"
            "grid-links grid-links"; }
    .grid-cnt{height: 300px;}
    .grid-project{height: 100%;}
    .about-grid-content{max-width: 600px;}

/* ============================================== */

    .aboutus-grid-content{max-width: 600px;height: 1280px;}
    .about-container 
    {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            " about-profile about-email"
            "about-about about-about"
            "about-about about-about";
    }
    .about-cnt{height: 300px;}
    .about-about{height: 930px;}
    .about-profile{width: 200px;height: 250px;}
    .about-email{width: 400px; height: 100%;}

/* ============================================== */

    .contact .container{max-width: 85%;}
    .contact-dots{width: 41%;}

/* ============================================== */

    .project .container{max-width: 85%;}
    .project-card a{padding: 15px;}
    .project-txt-icon img{width: 40px;}
    .coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 42%;}







	
}

/* ********************************************************************************************************* */

@media (max-width: 767px)
{
    .header-stream h1{font-size: 25px;}
    .header-slogan h6{font-size: 16px;}
    .header-active p{font-size: 14px;}
    .header-active{width: 170px;}
    .header-chat-content a{font-size: 15px;}
    .about-grid-content{padding: 70px 0px;}
    .grid-slider-software, .grid-slider-technology{display: flex;align-items: center;justify-content: space-between;gap: 10px;}
    .grid-slider-marquee{width: 85%;}
    .footer{padding: 50px 0px;padding-bottom: 20px;}
    /* .footer-contact-btn a{font-size: 14px; padding: 11px 25px;} */
    .copy-input{width: 250px; font-size: 15px;}
    .footer-contact-reply p{font-size: 12px;}
    .footer-head{margin-bottom: 130px;}
    .footer-head h1{font-size: 55px;}
    .footer-cnt{margin-bottom: 40px;}
    .grid-profile-img img{width: 115px;}
    .grid-profile-round-text p{width: 150px;height: 150px;left: -18px;top: -17px;}
    .grid-linkedin-icon i{font-size: 110px;}
    .grid-sec-arrow i{font-size: 15px;padding: 10px 12px;}
    .grid-sec-head h3{font-size: 25px;}
    .grid-project-card-simple{padding: 15px;margin-bottom: 15px;}
    .grid-project-card a{padding: 15px;}
    .grid-project-details{margin-top: 30px;}
    .grid-project-txt-name h5{margin-bottom: 0;font-size: 18px;}
    .grid-project-img{width: 250px;}
    .grid-small-arrow i{font-size: 13px;}
    .nav-social-media i{font-size: 17px;}
    .nav-social-media ul{gap: 15px;}
    .grid-about-dtl p{font-size: 15px;}
    .grid-project-txt-icon img{width: 35px;}
    .grid-project-txt-link p{font-size: 13px;}
    .grid-project-card-no-margin{margin: 0;}
    .grid-exp-company h3{font-size: 18px;}
    .grid-exp-company h5{font-size: 15px;}
    .grid-skill-cnt{padding-bottom: 20px;}
    .skill-slider-cnt h4{font-size: 20px;margin-bottom: 15px;}
    .skill-slider-cnt p{font-size: 15px;}
    .skill-slider{width: 100%;}
    .skill-slider-arrow{display: none;}
    .skill-slider-head-arrow{display: block;}
    .skill-slider-head-arrow button{padding: 0px 4px;}
    .mobile-view{display: none;}
    .nav-social-media{display: none;}
    .grid-links-head li h2{display: none;}
    .grid-links-part ul{width: 100%; height: 100%; display: flex;flex-wrap: wrap;flex-direction: row;gap: 15px;}
    .grid-links-part ul .grid-link-desktop{display: none;}
    .grid-link-mobile{display: block;}
    .grid-links-part li{margin-top: 0px;padding: 20px;}
    .grid-link-devide{width: 100%;display: flex;align-items: center;justify-content: space-between;gap: 15px;}
    .about-grid{width: 100%;height: 2570px;padding: 0; padding-top: 40px;}
    .grid-container{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "grid-about grid-about"
            "grid-profile grid-linkedin"
            "grid-project grid-project"
            "grid-experience grid-experience"
            "grid-skill grid-skill"
            "grid-stack grid-stack"
            "grid-email grid-email"
            "grid-links grid-links"; }
    .grid-cnt{height: 250px;}
    .grid-profile, .grid-linkedin{height: 245px;}
    .grid-project{height: 100%;}
	.about-grid-content{max-width: 500px;}

/* ============================================== */

    .aboutus-grid-content{max-width: 500px;height: 1280px;}
    .about-container 
    {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            " about-profile about-email"
            "about-about about-about"
            "about-about about-about";
    }
    .about-cnt{height: 300px;}
    .about-about{height: 940px;}
    .about-profile{width: 200px;height: 250px;}
    .about-email{width: 300px; height: 100%;}
    .aboutus-email-head h3{font-size: 32px;}
    .close-btn{padding: 50px 0px;}
    .aboutus-dtl, .aboutus-dtl-last p{font-size: 16px;letter-spacing: 0.6px;}

/* ============================================== */

    .contact .container{max-width: 85%;}
    .contact-main-form{padding: 15px 25px;}
    .contact-dots{width: 39%;}
    
/* ============================================== */

    .project .container{max-width: 90%;}
    .project-card a{padding: 15px;}
    .project-txt-icon img{width: 40px;}
    .coming-soon-txt h4{width: 120px;font-size: 16px;top: 8%;left: 38%;}



    
  
}

/* ********************************************************************************************************* */

@media screen and (max-width:575px)
{

    .home{height: 96vh;}
    .grid-sec-arrow i{font-size: 12px;padding: 7px 9px;}
    .grid-linkedin-icon i{font-size: 90px;}
    .grid-profile-img img{width: 100px;}
    .grid-profile-round-text p span{font-size: 10px;}
    .grid-profile-round-text p{width: 130px;height: 130px;left: -15px;top: -15px;}
    .grid-project-txt{margin-bottom: 20px;}
    .grid-project-flex-txt{margin-bottom: 0px;}
    .grid-project-txt-icon img{width: 30px;margin-bottom: 10px;}
    .grid-project-img{width: 100%;}
    .grid-project-no-margin img{margin-bottom: 0px;}
    .grid-small-arrow i{font-size: 11px;padding: 8px 9px;}
    .grid-project-txt-name h5{font-size: 16px;}
    .grid-project-txt-sec{gap: 15px;}
    .grid-exp-company h3{font-size: 18px;}
    .grid-exp-company h5{font-size: 14px;}
    .grid-skill-arrow i{font-size: 11px;padding: 8px 10px;}
    .skill-slider-cnt p{font-size: 14px;}
    .skill-slider{width: 100%;padding-left: 1px;}
    .grid-email-head h3{font-size: 40px;}
    .grid-email-head p{font-size: 14px;}
    .grid-email-hello a{font-size: 15px;}
    .footer-head h1{font-size: 55px;text-align: center;}
    .grid-project-txt-link p{display: none;}
    .skill-slider-head-arrow button{padding: 0px 4px;}
    .copy-input{width: 250px;padding: 12px 0px;}
    .about-grid{width: 100%;height: 2620px;padding-top: 30px;}
    .grid-container{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "grid-about grid-about"
            "grid-profile grid-linkedin"
            "grid-project grid-project"
            "grid-experience grid-experience"
            "grid-skill grid-skill"
            "grid-stack grid-stack"
            "grid-email grid-email"
            "grid-links grid-links"; }
    .grid-cnt{height: 250px;}
    .grid-profile, .grid-linkedin{height: 202px;}
    .grid-project{height: 100%;}
    .about-grid-content{max-width: 420px;padding: 60px 0px;}

/* ============================================== */

    .aboutus-grid-content{max-width: 380px;height: 1830px;padding: 60px 0px;padding-top: 0px;}
    .about-container 
    {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            " about-profile"
            "about-about"
            " about-email";
    }
    .about-cnt{height: 300px;}
    .about-about{height: 1130px;}
    .about-profile{width: 100%;height: 400px;}
    .about-email{width: 100%; height: 200px;}
    .close-btn{padding: 50px 0px;}

/* ============================================== */

    .contact .container{max-width: 95%;}
    .contact-dot-circle{width: 10px;height: 10px;gap: 8px;}
    .contact-title h6{font-size: 15px;}
    .contact-field-msg textarea{height: 200px;}
    .contact{padding-bottom: 50px;}
    .contact-field{flex-wrap: wrap;gap: 8px;padding-bottom: 10px; margin-bottom: 25px;}
    .contact-main-form{padding: 20px;}

/* ============================================== */
    
    .project .container{max-width: 85%;}
    .project-txt-name h5{margin: 0;}
    .coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 55%;}









	
}

/* ********************************************************************************************************* */

@media screen and (max-width:480px)
{
    
	.grid-cnt{height: 300px;}
    .grid-project{height: 100%;}
    .grid-about-dtl p{font-size: 14px;}
    .grid-profile, .grid-linkedin{height: 170px;}
    .grid-profile-img img{width: 75px;}
    .grid-profile-round-text p{width: 102px;height: 102px;left: -13px;top: -13px;}
    .grid-profile-round-text p span{font-size: 8px;}
    .grid-linkedin-icon i{font-size: 75px;}
    .grid-project-card-simple{padding: 12px;border-radius: 12px;}
    .grid-exp-card{flex-wrap: wrap;}
    .grid-exp-time{width: 100%;}
    .grid-email-head h3{font-size: 30px;}
    .grid-email-head p{font-size: 11px;letter-spacing: 0.3px;}
    .grid-email{height: 240px;}
    .about-grid{width: 100%;height: 2720px;padding-top: 30px;}
    .grid-link-id h6{font-size: 15px;}
    .grid-links-part li{margin-top: 0px;padding: 14px;}
    .footer-head h1{font-size: 50px;text-align: center;}
    .grid-slider-software, .grid-slider-technology{flex-wrap: wrap;}
    .copy-input{width: 240px;padding: 12px 0px;}

/* ============================================ */

    .about .container{margin: auto;padding: 0;}
    .about-profile{width: 100%;height: 300px;}
    .about-email{width: 100%; height: 200px;}
    .aboutus-grid-content{max-width: 320px;height: 1920px;}
    .about-about{height: 1320px;}
    .close-btn{padding: 50px 0px;}

/* ============================================== */

.coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 45%;}











    
}

/* ********************************************************************************************************* */

@media screen and (max-width:375px)
{
    .aboutus-grid-content{max-width: 300px;}
    .aboutus-grid-content{max-width: 330px;height: 2030px;}
    .about-about{height: 1380px;}
    .about-grid{width: 100%;height: 2680px;padding-top: 30px;}






}

/* ********************************************************************************************************* */

@media screen and (max-width:325px)
{
    .about-grid{width: 100%;height: 2930px;padding-top: 30px;}
    .grid-links-head li h2{display: none;}
    .grid-links-part ul{width: 100%; height: 100%; display: flex;flex-wrap: wrap;flex-direction: row;gap: 15px;}
    .grid-links-part ul .grid-link-desktop{display: none;}
    .grid-link-mobile{display: block;}
    .grid-link-devide{display: flex;flex-direction: column;}
    .aboutus-grid-content{max-width: 290px;height: 1960px;}
    .about-about{height: 1370px;}

    .coming-soon-txt h4{width: 140px;font-size: 18px;top: 8%;left: 38%;}








}