@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ********************* */
/* Inter */

@font-face {
    font-family: 'Int-Bold';
    src: url(../css/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Int-ExtraLight';
    src: url(../css/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Int-Light';
    src: url(../css/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Int-Thin';
    src: url(../css/fonts/Inter/Inter-Thin.ttf);
}

/* ************** */

@font-face {
    font-family: 'Gs-Bold';
    src: url(../css/fonts/General-sans/GeneralSans-Bold.otf);
}

@font-face {
    font-family: 'Gs-ExtraLight';
    src: url(../css/fonts/General-sans/GeneralSans-Extralight.otf);
}

@font-face {
    font-family: 'Gs-Light';
    src: url(../css/fonts/General-sans/GeneralSans-Light.otf);
}

@font-face {
    font-family: 'Gs-Medium';
    src: url(../css/fonts/General-sans/GeneralSans-Medium.otf);
}

@font-face {
    font-family: 'Gs-Regular';
    src: url(../css/fonts/General-sans/GeneralSans-Regular.otf);
}

@font-face {
    font-family: 'Gs-SemiBold';
    src: url(../css/fonts/General-sans/GeneralSans-Semibold.otf);
}

/* ************** */

@font-face {
    font-family: 'Hf-Regular';
    src: url(../css/fonts/Header-Font/Header-Font.ttf);
}

/* ************** */

@font-face {
    font-family: 'Og-Bold';
    src: url(../css/fonts/Organetto/organetto-bold.otf);
}

@font-face {
    font-family: 'Og-ExtraBold';
    src: url(../css/fonts/Organetto/organetto-extrabold.otf);
}

/* Signature Font */

@font-face {
    font-family: 'Signature-Font';
    src: url(../css/fonts/Signature/Blowing-Signature.ttf);
}

/* ********************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
body{
    font-family: 'Poppins-Regular';
    /* background-color: #141414; */
    background-color: #0b0b0b;
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 97%;
    margin: 0px auto;
}

/* ******************************************************************************************** */

:root {

    /* All Colors */
        /* Font colors */
        --primary-color: #e9e9e9;
        --content-color: #929190;
        --other-color: #3c3c3c;

        /* Background Colors */
        --main-background: #0b0b0b;
        --card-bg-color: #1C1C1C;
        --other-bg-color: #262626;
        --messagebox-primary-bg-color: #3a3a3a;
        --messagebox-sedong-bg-color: #026dfd;

    /* Fonts */
    --heading: 'Gs-SemiBold'; 
    --content: 'Gs-Regular';
    --stream-font: 'Og-Bold';
        
    /* Font Size */
    --heading-size: 30px;
    --content-size: 16px;
    --mini-content-size: 14px;

}

::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-track{background: #383838;}
::-webkit-scrollbar-thumb{background: #626262;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover{background: #818181;border-radius: 10px;}

/* ******************************************************************************************** */
/* .clipboard {
    position: relative;
}

.copy-input {
    max-width: 275px;
    width: 100%;
    cursor: pointer;
    background-color: #eaeaeb;
    border: none;
    color: #6c6c6c;
    font-size: 14px;
    border-radius: 5px;
    padding: 15px 45px 15px 15px;
    font-family: 'Montserrat', sans-serif;
}

.copy-input:focus {
    outline: none;
}

.copy-btn {
    width: 40px;
    background-color: #eaeaeb;
    font-size: 18px;
    padding: 6px 9px;
    border-radius: 5px;
    border: none;
    color: #6c6c6c;
    margin-left: -50px;
    transition: all .4s;
}

.copy-btn:hover {
    transform: scale(1.3);
    color: #1a1a1a;
    cursor: pointer;
}

.copy-btn:focus {
    outline: none;
}

.copied {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    color: #000;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 5px;
    transition: .4s opacity;
} */

/* **************************************************************************************** */
.home
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.navbar
{
    padding: 0;
}

.navbar-content
{
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar-content h3
{
    color: var(--primary-color);
    font-size: 23px;
    font-family: var(--heading);
    letter-spacing: 1px;
}

.nav-social-media ul
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-social-media a
{
    color: var(--primary-color);
}

.nav-social-media i
{
    font-size: 19px;
    /* padding: 13px 15px; */
}
/* 
.nav-social-media i:hover
{
    background-color: #32323289;
    padding: 13px 15px;
    border-radius: 7px;
} */

/* **************************************************************************************************** */

.header-stream ul
{
    margin-bottom: 10px;
}

.header-stream h1
{
    color: var(--primary-color);
    font-size: 45px;
    font-family: var(--stream-font);
}

.header-slogan h6
{
    color: var(--content-color);
    font-size: 17px;
    font-family: var(--content);
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}
    
.header-chat-content a
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 10px 20px;
    border-radius: 50px;
}

.header-active 
{
    max-width: 180px;
    background-color: var(--other-bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: -4px;
}

.header-active p 
{
    color: var(--primary-color);
    font-size: var(--content-size);
    font-family: var(--content);
}

.ping 
{
    position: relative;
    padding-left: 20px;
}

.ping::before,
.ping::after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    /* margin-left: 10px; */
    margin-top: -5px;
    border-radius: 50%;
    background-color: #1cfabc;
}

.ping::before 
{
    animation: ping 1.7s ease infinite;
    opacity: 0.25;
}

@keyframes ping 
{
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}























































  


























































