@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ********************* */

@font-face {
    font-family: 'Gs-Bold';
    src: url(../css/fonts/GeneralSans-Bold.ttf);
}

@font-face {
    font-family: 'Gs-ExtraLight';
    src: url(../css/fonts/GeneralSans-Extralight.ttf);
}

@font-face {
    font-family: 'Gs-Light';
    src: url(../css/fonts/GeneralSans-Light.ttf);
}

@font-face {
    font-family: 'Gs-Medium';
    src: url(../css/fonts/GeneralSans-Medium.ttf);
}

@font-face {
    font-family: 'Gs-Regular';
    src: url(../css/fonts/GeneralSans-Regular.ttf);
}

@font-face {
    font-family: 'Gs-SemiBold';
    src: url(../css/fonts/GeneralSans-Semibold.ttf);
}

/* ************** */

@font-face {
    font-family: 'Og-Bold';
    src: url(../css/fonts/Organetto/organetto-bold.otf);
}

@font-face {
    font-family: 'Og-ExtraBold';
    src: url(../css/fonts/Organetto/organetto-extrabold.otf);
}

/* ************** */

@font-face {
    font-family: 'Cg-Regular';
    src: url(../css/fonts/Cabinet-Grotesk/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: 'Cg-Light';
    src: url(../css/fonts/Cabinet-Grotesk/CabinetGrotesk-Light.otf);
}

/* Signature Font */

@font-face {
    font-family: 'Signature-Font';
    src: url(../css/fonts/Signature/Blowing-Signature.ttf);
}

/* ********************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Gs-Regular';
    /* background-color: #141414; */
    background-color: #0b0b0b;
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 97%;
    margin: 0px auto;
}

/* ******************************************************************************************** */

:root {

    /* All Colors */
        /* Font colors */
        --primary-color: #e9e9e9;
        --content-color: #a6a6a6;
        --other-color: #3c3c3c;
        --border-color: #252525;
        --mini-txt-color: #626262;

        /* Background Colors */
        --main-background: #0b0b0b;
        --card-bg-color: #1C1C1C;
        --other-bg-color: #262626;
        --grid-bg-color: #131313;
        --messagebox-primary-bg-color: #3a3a3a;
        --messagebox-sedong-bg-color: #026dfd;
        --grid-hover-color: #181819;

    /* Fonts */
    --heading: 'Gs-SemiBold';
    --medium-font: 'Gs-Medium';
    --content: 'Gs-Regular';
    --stream-font: 'Og-Bold';
        
    /* Font Size */
    --heading-size: 30px;
    --content-size: 17px;
    --mini-content-size: 14px;

}

::selection {
    color: var(--main-background);
    background-color: var(--primary-color);
}

::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-track{background: #383838;}
::-webkit-scrollbar-thumb{background: var(--mini-txt-color);border-radius: 10px;}
::-webkit-scrollbar-thumb:hover{background: #818181;border-radius: 10px;}

/* ******************************************************************************************** */
.side-button a 
{
    color: var(--primary-color);
    background-color: #FF2828;
    font-size: 23px;
    font-family: 'Gs-Regular';
    padding: 7px 20px;
    padding-bottom: 15px;
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    rotate: 270deg;

    position: fixed;
    top: 250px;
    right: -40px;
    z-index: 999999999999999;
}

a:not([href]):not([tabindex]):hover
{
    color: var(--primary-color);
}

a:not([href]):not([tabindex]) {
    color: var(--primary-color);
    text-decoration: none
}

.custom-model-main 
{
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open 
{
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner 
{
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap 
{
    display: block;
    width: 100%;
    position: relative;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner 
{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
    /* top: -100px; */
}

.model-open .bg-overlay 
{
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay 
{
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.custom-close-btn 
{
    color: #000;
    position: absolute;
    right: 15px;
    top: -5px;
    cursor: pointer;
    z-index: 99;
    font-size: 40px;
}

.pop-up-cnt-main 
{
    color: #1E201F;
    padding: 30px;
}

.pop-up-cnt-main h3 
{
    color: #1E201F;
    font-size: 25px;
    font-family: 'Gs-SemiBold';
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #1e201f;
    padding-bottom: 10px;
}

.pop-up-cnt input 
{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(30, 32, 31, 0.4);
    resize: none;
    padding: 15px;
    margin-bottom: 20px;
}

.pop-up-cnt input::placeholder 
{
    color: rgb(30, 32, 31, 0.6);
}

.pop-up-cnt textarea 
{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(30, 32, 31, 0.4);
    resize: none;
    padding: 15px;
}

.pop-up-cnt textarea::placeholder 
{
    color: rgb(30, 32, 31, 0.6);
}

.content 
{
    text-align: center;
}

.content h1 
{
    font-family: 'Sansita', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    color: #282828;
    margin-bottom: 10px;
}

.content i 
{
    color: #FFC107;
}

.content span 
{
    position: relative;
    display: inline-block;
}

.content span:before,
.content span:after 
{
    position: absolute;
    content: "";
    background-color: #282828;
    width: 40px;
    height: 2px;
    top: 40%;
}

.content span:before 
{
    left: -45px;
}

.content span:after 
{
    right: -45px;
}

.content p 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.form-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-btn button
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-font-size);
    font-family: var(--content);
    padding: 7px 30px;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    margin-top: 20px;
}

.review-star 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.face 
{
    cursor: pointer;
}

.face #bakgrunn 
{
    fill: var(--primary-color);
}

.face :hover #bakgrunn 
{
    fill: #d9d9d9;
}

input[type="radio"] 
{
    visibility: hidden;
    height: 0;
    width: 0;
}

.on 
{
    fill: #FCC24D;
}

@media screen and (min-width:800px) 
{
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) 
{
    .custom-model-inner {
        margin-top: 45px;
    }
}

/* ************************************************************************************ */

.clipboard 
{
    position: relative;
}

.copy-input 
{
    width: 280px;
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 15px 0px;
    border-radius: 50px;
    letter-spacing: 0.6px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.copy-input:focus 
{
    outline: none;
}

.copied 
{
    width: 100px;
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 10px 0px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    opacity: 0;

    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

.grid-sec-head h3
{
    color: var(--primary-color);
    font-size: var(--heading-size);
    font-family: var(--heading);
    text-transform: uppercase;
}

.grid-sec-arrow i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgba(233, 233, 236, 0.2);
    padding: 10px 13px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.grid-small-arrow i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgba(233, 233, 236, 0.2);
    padding: 10px 11px;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.5s ease;
}


/* **************************************************************************************** */
.home
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.navbar
{
    padding: 0;
}

.nav-logo img
{
    width: 100%;
    margin-top: -13px;
    margin-left: -10px;
}

.nav-logo h6
{
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Gs-Medium';
}

.navbar-content
{
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar-content h3
{
    color: var(--primary-color);
    font-size: 23px;
    font-family: var(--heading);
    letter-spacing: 1px;
}

.nav-social-media ul
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-social-media a
{
    color: var(--primary-color);
}

.nav-social-media i
{
    font-size: 19px;
    /* padding: 13px 15px; */
}
/* 
.nav-social-media i:hover
{
    background-color: #32323289;
    padding: 13px 15px;
    border-radius: 7px;
} */

/* **************************************************************************************************** */

.header-stream ul
{
    margin-bottom: 10px;
}

.header-stream h1
{
    color: var(--primary-color);
    font-size: 45px;
    font-family: var(--stream-font);
}

.header-slogan h6
{
    color: var(--content-color);
    font-size: 17px;
    font-family: var(--content);
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}
    
.header-chat-content
{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header-chat-content a
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 10px 20px;
    border-radius: 50px;
}

.header-scroll-down p
{
    /* width: 40px;
    height: 40px;
    background-color: var(--other-bg-color); */
    color: var(--primary-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1cfabc;
}

.header-active 
{
    max-width: 190px;
    background-color: var(--other-bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: -4px;
}

.header-active p 
{
    color: var(--primary-color);
    font-size: var(--content-size);
    font-family: var(--content);
}

.ping 
{
    position: relative;
    padding-left: 20px;
}

.ping::before,
.ping::after 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    /* margin-left: 10px; */
    margin-top: -5px;
    border-radius: 50%;
    background-color: #1cfabc;
}

.ping::before 
{
    animation: ping 1.7s ease infinite;
    opacity: 0.25;
}

@keyframes ping 
{
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

/* *************************************************************************************************** */

.about-grid
{
    width: 100%;
    /* height: 100%; */
    /* height: 3050px; */
    padding: 50px 0px;
    /* padding-top: 50px; */
    border-bottom: 1px solid var(--border-color);
}

.about-grid-border
{
    border-top: 1px solid var(--border-color);
}

.about-grid-content
{
    padding: 100px 0px;
    padding-bottom: 0px;
    max-width: 1200px;
    margin: auto;
}

.grid-container 
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "grid-about grid-about grid-profile grid-links"
        "grid-linkedin grid-stack grid-project grid-project"
        "grid-experience grid-experience grid-project grid-project"
        "grid-skill grid-skill grid-email grid-email";
}

.grid-cnt, .about-cnt
{
    width: 100%;
    height: 300px;
    background-color: var(--grid-bg-color);
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.grid-about 
{
    grid-area: grid-about;
    transition: all 0.5s ease;
}

.grid-profile 
{
    grid-area: grid-profile;
}

.grid-links 
{
    grid-area: grid-links;
    background: none;
    border: none;
}

.grid-linkedin 
{
    background-color: #007AB6;
    grid-area: grid-linkedin;
    position: relative;
}

.grid-stack 
{
    grid-area: grid-stack;
}

.grid-project
{
    height: 100%;
    grid-area: grid-project;
}

.grid-experience 
{
    grid-area: grid-experience;
}

.grid-skill 
{
    grid-area: grid-skill;
}

.grid-email 
{
    grid-area: grid-email;
}

.grid-about-cnt,
.grid-stack-cnt,
.grid-project-cnt,
.grid-experience-cnt,
.grid-skill-cnt
{
    padding: 20px;
}

.grid-about-cnt
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.grid-about:hover 
{
    background-color: var(--grid-hover-color);
}

.grid-about:hover .grid-about-arrow i
{
    color: var(--main-background);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.grid-sec-head-about
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .grid-about-arrow i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 10px 13px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.5s ease;
} */

.grid-about-arrow i:hover
{
    color: var(--main-background);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.grid-about-dtl p
{
    color: var(--content-color);
    font-size: var(--content-size);
    font-family: var(--content);
    letter-spacing: 0.7px;
}

/* ======================================================== */

.grid-profile-cnt
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-profile-img
{
    position: relative;
}

.grid-profile-img img
{
    width: 130px;
    border-radius: 200px;
}
  
.grid-profile-round-text p {
    width: 170px;
    height: 170px;
    color: #7a7a7a;
    font-family: 'Cg-Regular';
    margin: 0 auto;
    border-radius: 50%;
    animation: spinZ 20s linear infinite;
    text-align: center;
    
    position: absolute;
    left: -20px;
    top: -20px;

    span {
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Cg-Regular';
        transition: all .5s cubic-bezier(0, 0, 0, 1);
    }
}
@keyframes spinZ {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* ======================================================== */

.grid-link-mobile
{
    width: 100%;
    height: 90px;
    display: none;
}

.grid-link-mobile-flex
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.grid-links-icon-mobile
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.grid-links-icon-mobile i
{
    color: var(--content-color);
    font-size: 25px;
}

.grid-links-icon-mobile p
{
    color: var(--content-color);
    font-size: 15px;
    font-family: 'Gs-Regular';
    letter-spacing: 0.7px;
}

.grid-link-id
{
    width: 100%;
}

.grid-link-id h6
{
    color: var(--primary-color);
    font-size: var(--content-size);
    font-family: var(--content);
}

.grid-link-id p
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: var(--content);
    padding: 7px 15px;
    text-align: center;
    border-radius: 50px;
}

.grid-link-devide
{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px; */
}

.grid-links-head
{
    width: 100%;
}

.grid-links-head li h2
{
    width: 100%;
    color: var(--primary-color);
    font-size: var(--heading-size);
    font-family: var(--heading);
    /* margin-bottom: 20px; */
}

.grid-links-part ul
{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.grid-links-part li
{
    width: 100%;
    background-color: var(--grid-bg-color);
    border: 1px solid var(--border-color);
    padding: 12.5px 20px;
    padding-right: 13px;
    border-radius: 10px;
    margin-top: 10px;
}

.grid-links-part li:hover
{
    background-color: var(--grid-hover-color);
}

.grid-links-part a .grid-link-desktop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-links-icon-name
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.grid-links-part i
{
    color: var(--primary-color);
    font-size: 22px;
}

.grid-links-name h6
{
    color: var(--primary-color);
    font-size: 15px;
    font-family: var(--content);
}

.grid-links-follow p
{
    width: 90px;
    color: var(--main-background);
    background-color: var(--primary-color);
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
    text-align: center;
}

.grid-links-part a:hover .grid-links-follow p
{
    background-color: #cccccc;
}

/* ======================================================== */

.grid-linkedin-cnt
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-linkedin-icon i
{
    color: var(--primary-color);
    font-size: 120px;
}

.grid-linkedin-arrow i
{
    /* color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgba(233, 233, 236, 0.2);
    padding: 10px 13px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.5s ease; */

    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* ======================================================== */

.grid-stack-cnt
{
    width: 100%;
}

.grid-stack-cnt
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-about-cnt .grid-sec-head
{
    width: 100%;
}

.grid-slider-marquee 
{
    width: 250px;
    margin: 0 auto;
    grid-column-gap: 15px;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    display: flex;
    overflow: hidden;
}

.grid-slider-marquee-head p
{
    color: var(--mini-txt-color);
    font-size: 13px;
}

.grid-slider-marquee img
{
    width: 60px;
    background-color: #242424;
    padding: 15px;
    border-radius: 10px;
    object-fit: contain;
}

.marquee-content 
{
    grid-column-gap: 15px;
    justify-content: space-around;
    display: flex;
    flex: none;
}

@keyframes scroll 
{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}

@keyframes reverse-scroll 
{
    from {
        transform: translateX(calc(-100% - 16px));
    }

    to {
        transform: translateX(0);
    }
}

.slider-scroll-img-reverse
{
    animation: reverse-scroll 20s linear infinite;
}

.slider-scroll-img
{
    animation: scroll 20s linear infinite;
}

.grid-slider-marquee
{
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
    position: relative;
}

.grid-slider-marquee:before, .grid-slider-marquee:after 
{
    position: absolute;
    top: 0;
    content: '';
    width: 50px;
    height: 100%;
    z-index: 2;
}

.grid-slider-marquee:before 
{
    color: rgb(19, 19, 19);
    left: 0;
    background: linear-gradient(to left, rgb(19, 19, 19, 0), rgb(19, 19, 19));
}

.grid-slider-marquee:after 
{
    right: 0;
    background: linear-gradient(to right, rgb(19, 19, 19, 0), rgb(19, 19, 19));
}

/* =========================================== */

.grid-project-details
{
    margin-top: 40px;
}

.grid-project-card a
{
    color: var(--primary-color);
    background-color: #171717;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.grid-project-card a:hover
{
    background-color: #1C1C1C;
}

.grid-project-card-simple
{
    width: 100%;
    background-color: #171717;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.grid-project-txt-sec
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.grid-project-card a:hover .grid-project-img img
{
    transform: scale(1.07);
} 

.grid-project-card-simple:hover
{
    background-color: #1C1C1C;
}

.coming-soon-mini
{
    transition: transform 0.5s;
}

.grid-project-card-simple.coming-soon-mini:hover
{
    background-color: #1C1C1C;
    opacity: 0.5;
    cursor: not-allowed;
}

.grid-project-card-simple:hover .grid-project-arrow i
{
    color: var(--main-background);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}   

.grid-project-flex-txt
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.grid-project-txt-icon img
{
    width: 40px;
    margin-bottom: 17px;
    border-radius: 7px;
}

.grid-project-txt-name h5
{
    color: #cccccc;
    font-size: 19px;
    font-family: 'Gs-SemiBold';
    margin-bottom: 5px;
}

.grid-project-txt-link p
{
    color: var(--mini-txt-color);
    font-size: 15px;
    font-family: var(--content);
    /* margin-bottom: 20px; */
}

.grid-project-img
{
    width: 300px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.grid-project-img img
{
    width: 100%;
    transition: transform 0.5s;
}

.grid-project-no-margin img, h5, p
{
    margin: 0;
    padding: 0;
}

/* .grid-project-arrow i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 10px 12px;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.5s ease;
} */

.grid-project-card-no-margin
{
    margin-bottom: 0;
}

/* =================================================== */

.grid-exp-details
{
    margin-top: 40px;
}

.grid-exp-card
{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 15px;
}

.no-border
{
    border: none;
}

.grid-exp-company h3
{
    color: var(--content-color);
    /* color: #bcd9ff; */
    font-size: 20px;
    font-family: 'Gs-Medium';
    margin-bottom: 7px;
    letter-spacing: 0.8px;
}

.grid-exp-company h5
{
    color: var(--mini-txt-color);
    font-size: 17px;
    font-family: var(--content);
    margin-bottom: 7px;
    letter-spacing: 0.8px;
}

.grid-exp-company h5 span
{
    color: var(--mini-txt-color);
    font-size: 13px;
    font-family: var(--content);
    margin-bottom: 7px;
    letter-spacing: 0.8px;
}

.grid-exp-time p
{
    color: var(--mini-txt-color);
    font-size: 13px;
    font-family: var(--content);
    margin-bottom: 7px;
    letter-spacing: 0.8px;
}

/* ====================================================== */

.grid-skill-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-skill-cnt
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.prev-btn, .next-btn, .prev-head-btn, .next-head-btn
{
    background: none;
    border: none;
}

.skill-slider-head-arrow
{
    display: none;
}

.grid-skill-slider
{
    position: relative;
}

.prev-btn
{
    position: absolute;
    left: -15px;
    top: 50%;
    z-index: 99;
}

.next-btn
{
    position: absolute;
    right: -15px;
    top: 50%;
    z-index: 99;
}

.grid-skill-arrow i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 10px 13px;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.skill-slider
{
    width: 85%;
    height: 100%;
    margin: auto;
}

.skill-slider-cnt h4
{
    color: #9ad3ff;
    font-size: 23px;
    font-family: 'Gs-Medium';
    margin-bottom: 20px;
}

.skill-slider-cnt p
{
    color: var(--content-color);
    font-size: 16px;
    font-family: var(--content);
    letter-spacing: 0.5px;
    margin-left: 1px;
}

/* ============================================================ */

.grid-email-cnt
{
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-email-head
{
    padding-bottom: 40px;
    margin-top: -10px;
}

.grid-email-head h3
{
    color: var(--primary-color);
    font-size: 45px;
    font-family: var(--heading);
    margin-bottom: 5px;
    text-align: center;
}

.grid-email-head p
{
    color: var(--content-color);
    font-size: 15px;
    font-family: var(--content);
    text-align: center;
}

.grid-email-hello a
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 12px 30px;
    border-radius: 50px;
}

.grid-email-hello a:hover i
{
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

/* ============================================================ */

.footer
{
    padding: 70px 0px;
    padding-bottom: 15px;
}

.footer-cnt
{
    margin-bottom: 60px;
}

.footer-name a img
{
    width: 100%;
    margin-left: -10px;
}

.footer-head
{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 130px;
}

.footer-head h1
{
    font-family: 'Gs-Bold';
    font-size: 80px;
    background: linear-gradient(to bottom, #242424, #e9e9e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-contact-btn
{
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-btn a
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 15px 30px;
    border-radius: 50px;
    letter-spacing: 0.6px;
}

.footer-contact-reply
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-reply p
{
    color: var(--mini-txt-color);
    font-size: 15px;
    font-family: var(--content);
    letter-spacing: 0.6px;
}

.footer-copyright
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
}

.footer-copyright a
{
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--heading);
    letter-spacing: 1px;    
}

.footer-copyright p
{
    color: var(--mini-txt-color);
    font-size: 13px;
    font-family: var(--content);
    letter-spacing: 0.7px;    
}


/* ********************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.close-btn
{
    padding: 70px 0px;
    padding-bottom: 90px;
}

.close-btn-content
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn-content a i
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgba(233, 233, 236, 0.2);
    padding: 13px 15px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.5s ease;

    /* position: absolute;
    top: 20px;
    right: 20px; */
}

.close-btn-content a i:hover
{
    color: var(--main-background);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 13px 15px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.about-container 
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "about-about about-about about-profile"
        "about-about about-about about-profile"
        "about-about about-about about-email";
}

.about-grid-content
{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 70px;
}

.aboutus-grid-content
{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 70px;
}

.about-about 
{
    height: 100%;
    grid-area: about-about;
}

.about-profile 
{
    height: 500px;
    grid-area: about-profile;
}

.about-email 
{
    grid-area: about-email;
}

.about-profile img
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.about-slider-software, .about-slider-technology
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.about-slider-marquee
{
    width: 100%;
}

.about-about
{
    padding: 20px;
}

.about-sec-head
{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.aboutus-dtl
{
    margin-bottom: 30px;
}

.aboutus-dtl h6
{
    color: var(--primary-color);
    font-size: 15px;
    font-family: 'Gs-Medium';
    letter-spacing: 2px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.aboutus-dtl, .aboutus-dtl-last p
{
    color: var(--content-color);
    font-size: var(--content-size);
    font-family: var(--content);
    letter-spacing: 0.5px;
}

.aboutus-dtl-last h1
{
    width: 250px;
    color: var(--content-color);
    font-size: 50px;
    font-family: 'Signature-Font';
    margin-top: 20px;
    rotate: 350deg;
}

.aboutus-dtl p a
{
    color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    text-decoration: underline;
}

.aboutus-email-cnt
{
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutus-email-head
{
    padding-bottom: 40px;
    margin-top: -10px;
}

.aboutus-email-head h3
{
    color: var(--primary-color);
    font-size: 40px;
    font-family: var(--heading);
    margin-bottom: 5px;
    text-align: center;
}

.aboutus-email-head p
{
    color: var(--content-color);
    font-size: 15px;
    font-family: var(--content);
    text-align: center;
}

.aboutus-email-hello a
{
    color: var(--main-background);
    background-color: var(--primary-color);
    font-size: var(--content-size);
    font-family: 'Gs-Medium';
    padding: 12px 30px;
    border-radius: 50px;
}

.aboutus-email-hello a:hover i
{
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

/* ********************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.contact
{
    /* padding: 60px 0px; */
    padding-bottom: 70px;
}

.contact .container
{
    max-width: 70%;
}

.contact-card
{
    background-color: var(--grid-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.contact-head
{
    border-bottom: 1px solid var(--border-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.contact-dots
{
    width: 45%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-dot-circle
{
    width: 12px;
    height: 12px;
    border-radius: 10px;
}

.contact-dot-red
{
    background-color: #F63636;
}

.contact-dot-yellow
{
    background-color: #F6C136;
}

.contact-dot-green
{
    background-color: #68F636;
}

.contact-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title h6
{
    color: var(--primary-color);
    font-size: var(--content-font-size);
    font-family: 'Gs-Medium';
    text-align: center;
    letter-spacing: 0.5px;
}

.contact-main-form
{
    padding: 20px 30px;
}

.contact-field
{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.contact-field h5
{
    color: var(--primary-color);
    font-size: var(--content-font-size);
    font-family: 'Gs-Medium';
    letter-spacing: 0.5px;
}

.contact-field input
{
    width: 100%;
    color: var(--primary-color);
    font-size: 15px;
    font-family: var(--content);
    background-color: transparent;
    border: none;
    letter-spacing: 0.5px;
}

.contact-field input::placeholder, .contact-field-msg textarea::placeholder
{
    color: rgb(128, 128, 128, 0.6);
}

.contact-field-msg textarea
{
    width: 100%;
    color: var(--primary-color);
    background-color: #0D0D0D;
    font-size: 15px;
    font-family: var(--content);
    border: none;
    resize: none;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

.contact-btn
{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 30px;
}

.contact-btn button
{
    color: var(--primary-color);
    font-size: var(--content-font-size);
    font-family: var(--content);
    background-color: var(--card-bg-color);
    padding: 10px 30px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
}

.contact-social-media
{
    padding: 40px 0px;
}

.social-media-menu ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-media-menu a
{
    color: var(--content-color);
    font-size: 23px;
    padding: 12px 17px;
    border-radius: 10px;
}

.social-media-menu a:hover
{
    color: var(--primary-color);
    background-color: #202020;
    font-size: 23px;
    padding: 12px 17px;
    border-radius: 10px;
    transform: scale(1.1);
}

/* ********************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.project
{
    padding-bottom: 70px;
}

.project .container
{
    max-width: 80%;
}

.project-container .row .col-lg-4, .col-md-6, .col-sm-12
{
    padding: 10px;
    margin: 0px;
}

.coming-soon
{
    color: var(--primary-color);
    background-color: #171717;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 15px;
    transition: all 0.5s ease;

    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

    position: relative;
}

.coming-soon::after
{
    content: 'Coming Soon';
    width: 100%;
    height: 100%;
    background: rgb(28, 28, 28, 0.7);
    font-size: 20px;
    font-family: 'Gs-Medium';
    letter-spacing: 0.5px;
    border-radius: 17px;
    text-align: center;
    padding: 120px 0px;
    display: none;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.coming-soon:hover::after
{
    display: block;
}

.project-card a
{
    color: var(--primary-color);
    background-color: #171717;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.project-card a:hover
{
    background-color: #1C1C1C;
}

.project-txt-icon img
{
    width: 45px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.project-txt-name h5
{
    color: #cccccc;
    font-size: 20px;
    font-family: 'Gs-SemiBold';
    margin-bottom: 5px;
}

.project-txt-link p
{
    color: var(--mini-txt-color);
    font-size: 15px;
    font-family: var(--content);
    margin-bottom: 20px;
}

.project-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.project-img img
{
    width: 100%;
    transition: transform 0.5s;
}

.project-card a:hover .project-img img
{
    transform: scale(1.07);
} 

.project-card-simple:hover
{
    background-color: #1C1C1C;
}

/* ************************************************************* */

.not-found-content 
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-typing p
{
    width: 21ch;
    color: var(--primary-color);
    font-size: 25px;
    font-family: monospace;
    line-height: 30px;
    border-right: 13px solid #ffe500;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 0.8s steps(22), blink .5s step-end infinite alternate;
    margin-bottom: 70px;
}

@keyframes typing 
{
    from {
        width: 0
    }
}

@keyframes blink 
{
    50% {
        border-color: transparent
    }
}

.not-fount-home
{
    margin-bottom: 40px;
}

.not-fount-home a
{
    color: var(--primary-color);
    background-color: var(--grid-bg-color);
    font-size: var(--content-font-size);
    font-family: 'Gs-Regular';
    padding: 13px 30px;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    letter-spacing: 1px;
}

.not-fount-home a:hover
{
    background-color: var(--other-bg-color);
}

.mobile-access h1
{
    color: var(--primary-color);
    font-size: 18px;
    letter-spacing: 1px;
    display: none;
}
















































































